<div style="text-align: center">
    <h1>Initialisation de mot de passe</h1>
    <br>
    <p>Il se peut que vous avez oubliez votre mot de passe, cliquez sur le lien ci-dessous pour initialiser votre compte.</p>
    <br>
    <a href="http://localhost:4200/reset-password/{{token}}">Cliquer pour initialiser votre compte</a>
</div>
